<div class="navbar navbar-expand-sm navbar-light navbar-cookbook">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag 'Large_spatula.png' %>
      <% end %>
      <div>
        <%= link_to "Home", root_path %>
        <%= link_to "New Category", new_category_path %>
      </div>
</div>
