.navbar-cookbook {
  justify-content: space-between;
  background: white;
  padding: 1px 10px;
  margin-right: 20px;
}

.navbar-cookbook .navbar-collapse {
  flex-grow: 0;
}

.navbar-cookbook .navbar-brand img {
  width: 70px;
  height: 70px;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}
