<h1>Categories</h1>


<ul><% @categories.each do |category| %>
<li> <%= category.name %></li>
<% end %>
</ul>

<%= button_to "Create new category", request.referer || new_category_path, method: :get, class: "btn btn-secondary" %>
