<h1>Create a new category</h1>

<%= simple_form_for @category do |f| %>
<%= f.input :name %>
<%= f.submit "Save your category", class: "btn btn-primary" %>
<% end %>

<%= button_to "Back to your categories", request.referer || root_path, method: :get, class: "btn btn-secondary" %>
